/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  /* --ff-primary: cursive; */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.5s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --small-font: 0.8rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-size: var(--small-font);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* .btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
} */

.btn {
  display: inline-block;
  color: var(--clr-grey-2);
  font-size: 0.75rem;
  font-weight: 550;
  padding: 0.375rem 0.75rem;
  background-color: var(--clr-primary-7);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--ff-primary);
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--dark-shadow);
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.btn:hover {
  color: var(--clr-primary-10);
  background: var(--clr-primary-3);
}
/* section */
/* .section {
  padding: 5rem 0;
} */

.section-center {
  width: 90vw;
  /* max-width: 1170px; */
  margin: 0 auto;
  padding: 5rem 2rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

.overline {
  padding: 0.75rem 0;
  border-top: 3px solid var(--clr-primary-5);
}
.underline {
  padding: 0.75rem 0;
  border-bottom: 3px solid var(--clr-primary-5);
}
.title {
  text-align: center;
  margin-bottom: 3rem;
}

/*
New Classes
*/
/* .skill {
  width: 100%;
  height: 100%;
  position: relative;
} */

/* .progress-bar {
  width: 100%;
  background-color: white;
  border-radius: 50px;
  height: 10px;
  position: relative;
  margin-top: 1rem;
}

.progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-primary-5);
  border-radius: 50px;
}

.progress-percent {
  position: absolute;
  color: var(--clr-primary-1);
  top: 25%;
  transform: translateX(-50%);
  width: fit-content;
}

.progress-html:after {
  width: 50%;
}

.progress-percent.html {
  left: 50%;
}

.progress-react:after {
  width: 95%;
}

.progress-percent.react {
  left: 95%;
} */

/*
=============== 
Navbar
===============
*/
.nav-center {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.5rem;
  /* box-shadow: var(--dark-shadow); */
  position: fixed;
  z-index: 3;
}
.nav-center h1 {
  font-size: 3rem;
}
.nav-center span {
  padding-left: 1rem;
  color: var(--clr-primary-5);
  letter-spacing: -2px;
}
.nav-links {
  font-size: 1.2rem;
  display: none;
}
.nav-links a {
  color: var(--clr-grey-1);
}

.nav-links a:hover {
  color: var(--clr-primary-5);
}

.menu-icon {
  font-size: 2.5rem;
  color: var(--clr-grey-9);
}
@media screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3em;
  }
  .nav-center {
    background-color: var(--clr-primary-10);
    padding: 1rem 2rem;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  width: 100%;
  height: 100%;
  display: grid;
  /* sidebar hide */
  display: none;
}
.sidebar-close {
  justify-self: flex-end;
  padding: 2rem;
}
.sidebar-close i:hover {
  color: red;
}
.sidebar-close i {
  font-size: 2.5rem;
  color: var(--clr-grey-5);
}
.page-links {
  justify-self: center;
  text-align: center;
  /* border: 1px solid red; */
  width: 100%;
}
.page-links a {
  display: block;
  font-size: 2.5rem;
  color: var(--clr-grey-2);
  padding: 0.6rem 0;
  text-transform: uppercase;
  /* border: 1px solid red; */
  transition: var(--transition);
  font-weight: 400;
}
.page-links a:hover {
  background: var(--clr-grey-9);
  color: var(--clr-primary-1);
  transform: translateX(5px);
  border-left: 0.5rem solid var(--clr-primary-3);
}
.social-icons {
  display: flex;
  justify-content: space-evenly;

  padding: 5rem 0;
  width: 100%;
}
.social-icons a {
  font-size: 1.7rem;
  color: var(--clr-grey-3);
}
.social-icons a:hover {
  color: var(--clr-primary-3);
}
/*
=============== 
Hero
===============
*/
.hero {
  /* height: 100vh; */
  width: 100%;
  background: var(--clr-primary-10);
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 10rem;
}

.hero h4 {
  padding: 2rem 0;
}
.hero-btn {
  max-width: 180px;
}
.hero-social-icons {
  justify-content: space-between;
  max-width: 30rem;
}
/* hero photo  */
.hero-photo {
  display: none;
}
.container {
  border: 5px solid var(--clr-primary-5);
  display: block;
  height: 350px;
  width: 250px;
  border-radius: 0.5rem;
  position: absolute;
  transform: translate(-1rem, -1rem);
  z-index: 1;
}
.hero-photo img {
  display: block;
  height: 350px;
  width: 250px;
  border-radius: 0.5rem;
  z-index: 2;
}


@media screen and (min-width: 768px) {
  .hero-photo {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: var(--clr-primary-10);
  }
  .hero-all {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*
=============== 
About
===============
*/
.about-info {
  display: grid;
  padding: 4rem 2rem;
  align-content: center;
  justify-items: left;
}
.about-info p {
  padding: 2rem 0;
  text-align: justify;
}
.about-photo {
  background: none;
}

@media screen and (min-width: 1000px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */
.services-center {
  /* height: 100vh; */
  background-color: var(--clr-grey-9);
  margin: 5rem auto;
}
.services-center h2 {
  text-align: center;
  padding: 3rem 0;
}
.all-services {
  width: 90%;
  margin: 0 auto;
}
.service-single {
  /* height: 70vh; */
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-white);
  transition: var(--transition);
}
.service-single i {
  font-size: 2rem;
}
.h3 {
  padding: 3rem 0;
}
.service-single p {
  width: 75%;
  text-align: justify;
}
.service-single:hover p {
  color: var(--clr-white);
}
.service-single:hover {
  background-color: var(--clr-primary-5);
}
.service-single:hover.service-single .underline {
  border-color: white;
}

@media screen and (min-width: 768px) {
  .all-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .all-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .service-single:hover {
    background-color: var(--clr-primary-5);
  }
}

/*
=============== 
Projects
===============
*/
.project-info {
  text-align: center;
  padding-bottom: 2rem;
}

.projects {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
  height: 100%;
  /* grid-template-rows: repeat(auto-fit, 40vh); */
  /* grid-template-columns: 1fr; */
}

.project {
  background: var(--clr-primary-5);
  border-radius: 0.7rem;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  height: 40vh;
}

.project a {
  height: 100%;
}

.project a img {
  height: 100%;
  object-fit: cover;
}
.background {
  outline: 2px solid var(--clr-white);

  transition: var(--transition);
  position: absolute;
  display: grid;
  align-content: center;
  place-items: center;
  outline-offset: -1.5rem;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transform-origin: center center;
}
.project:hover .background {
  transform: scale(1);
}
.project:hover img {
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .projects {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b b"
      "a c d";
  }
  .project {
    height: 100%;
  }
  .project-1 {
    /* max-height: 100vh; */
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}

/*
=============== 
Connect
===============
*/
.connect {
  /* clip-path: polygon(51% 0, 51% 0, 100% 7%, 100% 100%, 0 100%, 0 8%); */
  clip-path: polygon(
    50% 0,
    50% 0,
    100% 9%,
    100% 91%,
    51% 100%,
    52% 100%,
    0 91%,
    0 10%
  );
  position: relative;
  min-height: 80vh;
  display: grid;
  place-items: center;

  margin: 5rem 0;
}
.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border: 1px solid red;
}
.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.connect-banner {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  padding: 2rem 3rem 7rem 2rem;
  background-color: var(--clr-primary-9);
  display: grid;
  place-items: center;
  z-index: 1;
}
.connect-banner p {
  width: 30rem;
  padding: 2rem 0;
  text-align: justify;
  padding-bottom: 0;
}
.connect-btn {
  font-size: 1rem;
  letter-spacing: 0.2;
}

/*
=============== 
Skills
===============
*/
.skill-type {
  color: var(--clr-primary-1);
  padding: 2rem 0;
}
.skills {
  background-color: var(--clr-primary-9);
  padding-top: 3rem;
}
.skills h2 {
  text-align: center;
}
.skill-single {
  position: relative;
}
.progress-bar-100 {
  width: 100%;
  height: 0.7rem;
  margin: 0.5rem 0 2rem 0;
  background-color: white;
  border-radius: var(--radius);
}
.progress-bar {
  width: 50%;
  height: 0.7rem;
  background-color: var(--clr-primary-5);
  border-radius: var(--radius);
}
.percentage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.java-progress-bar {
  width: 70%;
}
.java-percentage {
  left: 70%;
}
.react-progress-bar {
  width: 80%;
}
.react-percentage {
  left: 80%;
}

.php-progress-bar {
  width: 35%;
}
.php-percentage {
  left: 35%;
}
.node-progress-bar {
  width: 70%;
}
.node-percentage {
  left: 70%;
}
.python-progress-bar {
  width: 80%;
}
.python-percentage {
  left: 80%;
}
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}

/*
=============== 
Timeline
===============
*/
.all-years {
  display: grid;
  place-items: center;
}

.timeline-year {
  border-top: 2px dashed var(--clr-primary-5);
  padding: 2rem;
  position: relative;
  max-width: 50rem;
}
.number {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-5);
  border-radius: 50%;
}
.timeline-year:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 1.5rem;
  padding-left: 0;
}
.timeline-year:nth-child(even) {
  border-left: 2px dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 1.5rem;
  padding-right: 0;
}
.timeline-year:nth-child(1) {
  border-top: none;
  border-top-right-radius: 0;
}
.timeline-year:nth-child(7) {
  border-bottom: none;
  border-bottom-right-radius: 0;
}
.timeline-year:nth-child(odd) .number {
  right: 0;
  transform: translate(50%, -50%);
}

.timeline-year:nth-child(even) .number {
  left: 0;
  transform: translate(-50%, -50%);
}

/*
=============== 
Blog
===============
*/
.blog {
  width: 85%;
  margin: 0 auto;
}
.single-card {
  margin: 0 auto;
  transition: var(--transition);
  position: relative;
  perspective: 1500px;

  /* -------------front-------------- */
}
.front img {
  height: 40vh;
}
.front {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: flex-start;
  box-shadow: var(--dark-shadow);
}
.blog-info {
  padding: 1rem;
}
.blog-info h4 {
  color: var(--clr-primary-3);
}
.blog-info p {
  padding: 1rem 0 0 0;
  margin: 0;
  color: var(--clr-grey-1);
}
.blog-footer img {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.blog-footer {
  display: grid;
  padding: 1rem 2rem;
  align-self: flex-end;
  grid-template-columns: 1fr 1fr;
}
.blog-footer span {
  justify-self: end;
  color: var(--clr-grey-5);
}

/* ------------back--------------- */
.back {
  position: absolute;
  display: grid;
  place-items: center;
  z-index: -1;
  background-color: var(--clr-primary-9);
  transform: rotateY(-180deg);
}

.front,
.back {
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: var(--dark-shadow);

  /* position: relative; */
  transition: var(--transition);
  backface-visibility: hidden;
}

.single-card:hover .front {
  transform: rotateY(180deg);
}
.single-card:hover .back {
  transform: rotateY(0deg);
}

.blog-center {
  padding-bottom: 2rem;
  row-gap: 2rem;
  column-gap: 2rem;
  height: 100%;
  display: grid;
}
@media screen and (min-width: 768px) {
  .blog-center {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .blog-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

/*
=============== 
Footer
===============
*/
.footer {
  padding: 2rem;
  background-color: black;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr; */
}
.footer-icons a {
  color: var(--clr-primary-7);
}
.footer-icons {
  padding: 2rem;
}
.footer-text {
  color: white;
  text-align: center;
}

/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
